@charset "utf-8";

/* 列表 */
#index_list{margin:50px 0 0 0;}
#index_list li{border-bottom:1px dotted #ccc;padding:0 0 15px 0;margin:0 0 15px 0;}

#hot-users .facelist{padding:10px;}
#hot-users .facelist li{float:left;height:70px;width:70px;text-align:center;overflow:hidden;}

#friend-link ol{padding:20px;}
#friend-link ol li{height:24px;line-height:24px;}

#recommend-book ul{}
#recommend-book ul li{float:left;width:90px;margin:0 0 20px 0;border:2px solid;height:130px;}
#recommend-book .pic{text-align:center;overflow:hidden;}

.inforight{margin:0 80px;}
.inforight h1{padding:10px 0;}
.infocontent{font-size:14px;line-height:30px;}

.tstheme{}
.tstheme ul{}
.tstheme ul li{float:left;padding:5px;height:130px;margin:1px;text-align:center;}
.tstheme ul li a{}
.tstheme ul li:hover{border:solid 1px #336699}